[core]
	excludesfile = /Users/xi/.gitignore_global
[pull]
  ff = only
[merge]
  ff = false
[user]
  name = Felix
  email = zen9.felix@gmail.com
  signingKey = 534D1F4267E311C1
[commit]
  gpgsign = false
[gpg]
  program = gpg
[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/
[alias]
  co = checkout
  br = branch
  ci = commit
  recommit = !"git add --all; git commit --amend --no-edit"
  ver = describe --abbrev=0 --tags
  st = status
  mer = merge
  merc = merge --no-commit --no-ff
  reset-remote = !"git reset --hard $(git rev-parse --abbrev-ref '@{upstream}')"
  reset-head = reset --hard HEAD
  reset-back = reset --hard HEAD~1
  abort = merge --abort
  remote-tag = ls-remote --tags origin
  prune-local = !"git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -d"
  do-not-track = !"git update-index --assume-unchanged $1; git rm -f $1"
  local-history= !"git for-each-ref --sort=-committerdate refs/heads/ --color --format='%(color:white)%(committerdate:short)%(color:reset) %(color:bold blue)%(refname:short)%0a%(color:reset)  %(color:bold red)%(authorname):%(color:reset) %(subject)%0a'"
  remote-history= !"git for-each-ref --sort=-committerdate refs/remotes/ --color --format='%(color:white)%(committerdate:short)%(color:reset) %(color:bold blue)%(refname:short)%0a%(color:reset)  %(color:bold red)%(authorname):%(color:reset) %(subject)%0a'"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
